.dots {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid black;
}
